<trds-section id="rolunk"
    class="bg-image bg-image--lazy"
    style="--bg-image-url: url('/cdn/images/aboutusbg.jpg')">
    <trds-stack style="gap: var(--space--s)">
        <h2 class="variant--1">Rólunk</h2>
        <span class="size--xl" style="font-weight: bold;">Cégünk lételeme a folyamatos fejlődés, a kreativitás, és a csapatmunka.</span>
        <p>Törekszünk a maximális minőségre. Többéves kapcsolatainknak köszönhetően gépészmérnökök, programozók állnak rendelkezésünkre.</p>
    </trds-stack>
</trds-section>