<trds-section
    class="bg-image"
    style="--bg-image-url: url('/cdn/images/herobg.jpg');">
    <trds-stack style="gap:var(--space--s)">
        <h1 style="max-width: none;">Egyedi gép és célgép gyártás</h1>
        <p style="color:var(--color--secondary-text); margin-bottom: var(--space--s);">Vezérléstechnika nélkül ipari társadalmunk elképzelhetetlen lenne, lehetetlen lenne elérni a jelenlegi műszaki színvonalat. Vállalkozásunk, ennek megfelelően a megrendelő igényeit figyelembe véve (tervezéstől-átadásig) a legkülönbözőbb (pneumatikus, hidraulikus, villamos, elektronikus) szakemberekkel működik együtt.</p>
        <a is="trds-button--link" class="call" number="+36 30 310 2441"></a>
    </trds-stack>
</trds-section>