<style>
    trds-header a[is=trds-link].text{
        text-decoration: none;
        font-size: var(--size--xs);
        text-transform: uppercase;
        font-weight: bold;
        color: var(--color--secondary-text);
    }
</style>
<trds-header>
    <a is="trds-link" slot="logo" class="block" href="/">
        <trds-image alt="logo" src="/cdn/images/logo.png"></trds-image>
    </a>
    <a is="trds-link" class="text" href="#szolgaltatasaink">Szolg치ltat치saink</a>
    <a is="trds-link" class="text" href="#munkaink">Munk치ink</a>
    <a is="trds-link" class="text" href="#rolunk">R칩lunk</a>
    <a is="trds-link" class="text" href="#kapcsolat">Kapcsolat</a>
</trds-header>